html
  include blocks/head

  body
    include blocks/map_2.pug
    .container
      .head
        .head__title= title
      .content
        each item in content
          case item.type
            when 'header'
              .content__header= item.text
            when 'parag'
              .content__parag= item.text
            when 'size_3'
              .content__size3= item.text
            when 'table'
              .content__table= item.text
            when 'line'
              li.content__line= item.text
            when 'img'
              img.content__img(src= item.link alt= item.desc)
    -//include blocks/replace.pug
